<div class="px-35 pt-10 bg-slate-100 min-h-dvh">
  <div class="grid grid-cols-5 gap-4">
    @if (paginatedProducts().length) { 
      @for (product of paginatedProducts(); track product.id) {
        <app-product-card [product]="product" />
      }
    } @else {
      <div class="col-span-5 flex justify-center items-center h-40">
        <p class="text-black text-3xl font-bold">No products found!</p>
      </div>
    }
  </div>

  @if (shouldShowPagination()) {
    <div class="flex justify-center mt-8 pb-8">
      <div class="join">
        @for (item of getPaginationItems(); track $index) {
          @if (item.type === 'page') {
            <button 
              class="join-item btn"
              [class.btn-active]="item.value === currentPage()"
              (click)="goToPage(item.value!)">
              {{ item.value }}
            </button>
          } @else {
            <button class="join-item btn btn-disabled">...</button>
          }
        }
      </div>
    </div>
  }
</div>